@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the Task List Register!</h1>

<h4>Please sign in below: </h4>

<form action="/Home/SignIn" method="post">
    Username: <input type="text" name="UserName"/><br />
    Password: <input type="password"name="Password"/><br />
    <input type="submit" value="Sign In"/>
</form>
<p><span id="error"></span></p>